@page "/create"
@using BlazorApp.Components.Data
@using BlazorApp.Components.Services
@inherits OwningComponentBase<WorkService>
@rendermode InteractiveServer
@attribute [StreamRendering]

<PageTitle>Список предметов</PageTitle>

<div style="text-align:center">
    <h3>Список предметов</h3>
    <hr />
    <EditForm Model="workObj" OnInvalidSubmit="InsertRecord">
        <div class="modal-body">
            <table class="table">
                <tr>
                    <td>Ваш id</td>
                    <td><input type="text" placeholder="Введите nип объекта" @bind="workObj.from_whom_id" /></td>
                </tr>
                <tr>
                    <td>Описание</td>
                    <td><input type="text" placeholder="Введите дату покупку" @bind="workObj.description" /></td>
                </tr>
                <tr>
                    <td>Дата и время отправки</td>
                    <td><input type="datetime" placeholder="Введите количество поломок" @bind="workObj.send_time" /></td>
                </tr>
                <tr>
                    <td>Срок выполнения</td>
                    <td><input type="datetime" placeholder="Введите дату последнего ремонта" @bind="workObj.time_limit" /></td>
                </tr>
            </table>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" @onclick="InsertRecord">Save</button>
        </div>
    </EditForm>
</div>
@code {

    Work workObj = new Work();

    private void ReloadItem()
    {
        workObj = new Work();
    }
    void InsertRecord()
    {
        workObj.id = 0;
        Service.InsertRecord(workObj);
        ReloadItem();
    }
}
